<article class="article-content">
	<div class="banner-inner-box">
		<div class="article-banner lazy-bg blur" 
		style="background-image: url(<%- page.photos %>?imageView2/2/w/64/h/200/format/jpg/q/50)"
		data-lazy="<%- page.photos %>?imageView2/0/format/jpg/q/100">
		<div class="cover"></div>
		</div>
		<div class="wrap">
			<h1 class="article-title"><%- page.title %></h1>
		</div>
	</div>
	<div class="wrap">
		<div class="markdown-body">
			<%- page.content %>
		</div>
	</div>
</article>