@charset "UTF-8";


$white: #fff  !default;
$gray:  #444  !default;

$font-famliy-base: "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$link-color: #529ee2 !default;


$disply-width: 960px !default;