<footer>
	<div class="wrap">
		<p>© 2018 <a href="/">ShumRain</a>. Powered by <a  href="https://hexo.io">Hexo</a> and <a class="underline-a" href="/">Feb</a></p>
		<% if (theme.beian) {%>
			<p><%= theme.beian %></p>
		<% } %>
	</div>
</footer>

<%- js('js/main.js') %>