<footer>
	<div class="wrap">
		<p>&copy; <%= new Date().getFullYear() %>  <a href="<%= theme.home %>"><%= theme.customize.footerName %></a>. Powered by <a  href="https://hexo.io">Hexo</a> and <a class="underline-a" href="https://github.com/ShumRain/hexo-theme-Feb">Feb</a></p>
		<% if (theme.beian) {%>
			<p><%= theme.beian %></p>
		<% } %>
	</div>
</footer>