@charset "UTF-8";

footer {
	font-size: 1.4rem;
    line-height: 1.3;
    color: #999;
	text-align: center;
	margin-top: 20px;
	border-top: 1px solid #ebf2f6;
	.wrap {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	p {
		margin: .5em 0;
	}
}